.button-default {
  height: fit-content;
  width: auto;
  white-space: nowrap;
  padding: 0.25rem 1rem;
  text-align: center;
  font-weight: 600;
  border-width: 1px;
  border-radius: 1rem;
}

.primary-button {
}

.primary-button:hover {
}

.secondary-button {
}

.secondary-button:hover {
}

.tertiary-button {
}

.tertiary-button:hover {
}
